body.page-index {

  .centerer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .centered {
      flex: none;
      margin: auto;
      max-width: 100%;
    }
  }
}
